CompileFlags:                     # Tweak the parse settings
  Add: [
    -Wno-unused-variable,
    -Wno-infinite-recursion,
    -Wno-array-bounds,
    -Werror=implicit-function-declaration,
    -Wshadow,
    -Wno-shadow-field-in-constructor-modified,
    -Wno-shadow-ivar,
    -Wuninitialized,
    -Wunused-label,
    -Wunused-lambda-capture,
    -std=c99
  ]             
  Compiler: gcc               # Change argv[0] of compile flags to `clang++`